---
const prerender = false;
import Layout from "../../layouts/Layout.astro";

const { slug } = Astro.params;

const [post]: any = await fetch(
    `https://aceroscrea.com/wp-json/wp/v2/posts?slug=${slug}&_embed`,
).then((res) => res.json());
---

<Layout>
    <main class="container max-w-5xl mx-auto px-6 md:px-12 overflow-hidden">
        <article class="py-16 md:my-20">
            <ul class="flex gap-1 mb-6 text-sm md:text-base">
                <li>
                    <a class="hover:underline" href="/">Home</a>
                </li>
                <li>/</li>
                <li class="line-clamp-1">
                    {post.title.rendered}
                </li>
            </ul>
            <h1 class="text-3xl md:text-5xl font-bold mb-12">
                {post.title.rendered}
            </h1>
            <div class="mb-12">
                <img
                    src={post._embedded["wp:featuredmedia"]["0"].source_url}
                    alt={post.title.rendered}
                    class="w-full h-80 md:h-96 object-cover rounded-lg"
                />
            </div>
            <section
                class="p-6 md:p-12 bg-amber-50/10 border border-amber-50/50 rounded-lg"
            >
                <Fragment set:html={post.content.rendered} />
            </section>
        </article>
    </main>
</Layout>
